$hl-color-bg: rgb(85, 26, 139); //#6e1ec7;
$hl-color-fg: #efefef;

html, body {
  margin: 0px;
  background-color: #111111;
}

#container {
  min-height: 100%;
  min-width: 100%;

  height: 100%;
  width: 100%;

  overflow: hidden;

  position: relative;

  .on-grid-display {
    display: none;
  }

  .on-normal-display {
    display: block;
  }

  &.grid-display {
    .on-grid-display {
      display: block;
    }

    .on-normal-display {
      display: none;
    }
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  .progress {
    position: absolute;
    bottom: 15px;
    right: 15px;

    width: 256px;
    height: 64px;

    background-color: transparent;
    color: #efefef;

    font-size: 16px;
    font-weight: bold;
  }

  .finder {
    position: absolute;
    top: 15px;
    right: 15px;

    .open-finder, .loader {
      position: absolute;
      right: 0px;
      top: 0px;

      .fa-circle {
        color: darken($hl-color-bg, 15%);
      }
    }

    .loader {
      top: 4px;
      right: 3em;
      display: none;

      &.active {
        display: block;
      }
    }

    .finder-content {
      display: none;

      background-color: transparentize($hl-color-bg, 0.25);
      color: $hl-color-fg;
      border-radius: 6px;

      padding: 10px;
      padding-top: 40px;

      list-style-type: none;

      li {
        margin: 5px;
      }
    }

    &.opened {
      .finder-content {
        display: block;
      }
    }

    input, button {
      padding: 10px;
      font-size: 16px;
      width: 100%;
      border: 1px solid darken($hl-color-bg, 15%);
      border-radius: 4px;
      color: #efefef;
    }

    input {
      background-color: darken($hl-color-bg, 5%);
    }

    input::-webkit-input-placeholder {
      color: darken($hl-color-bg, 20%);
    }

    button {
      background-color: darken($hl-color-bg, 15%);

      &:hover {
        background-color: darken($hl-color-bg, 5%);
      }
    }

    .search-box {
      position: relative;

      .fa-search {
        position: absolute;
        top: 10px;
        left:5px;
        color: darken($hl-color-bg, 15%);
      }

      .action.clear {
        position: absolute;
        top: 10px;
        right:5px;
        color: darken($hl-color-bg, 15%);
      }

      input {
        padding-left: 26px;
        padding-right: 26px;
      }
    }

    input[type="range"] {
      -webkit-appearance: none !important; /*Needed to reset default slider styles */
      width: 100%;
      height: 15px;
      background-color: darken($hl-color-bg, 5%);
      border: 1px solid darken($hl-color-bg, 15%);
      border-radius: 10px;
      margin: auto;
      transition: all 0.3s ease;

      &:hover {
        background-color: darken($hl-color-bg, 10%);
      }
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      width: 20px;
      height: 20px;
      background-color: darken($hl-color-bg, 15%);
      border-radius: 30px;
      box-shadow: 0px 0px 3px darken($hl-color-bg, 15%);
      transition: all 0.5s ease;

      &:hover {
        background-color: darken($hl-color-bg, 20%);
      }
    }
  }
}
